html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
header {
  padding: 14px 42px;
}
input {
  margin-right: 14px;
}
.contenedor-contenido-pagina {
  margin: 0 auto;
  padding: 21px;
  width: 1200px;
}
.hidden {
  display: none;
}
.div-coder{
  display: inline-block;
  background-color: #FAAE27;
  margin: 30px 0 0 30px;
  padding: 20px 30px;
  border: 1px solid black;
}
.div-salir-coder{
  width: 100vw;
  height: 100vh;
  background-color: #FAAE27;
  font-size: 50px;
  text-align: center;
  padding: 43vh 0 0 0 ;
}
.boton-volver-inicio{
  display: block;
  margin: 40px auto;
}